@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kameron:wght@400..700&family=Orbitron:wght@400..900&display=');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
      padding: 20px;
      
  }
  :root {
    --primary-color: #8ECAE6;
    --secondary-color: #194358;
    --accent1-color: #023047;
    --accent2-color: #E46D20;

    --heading-font: 'Bebas Neue',sans-serif;
    --paragraph-font: 'Kameron', serif;
    --color-callout-example-font:'Orbitron', sans-serif;

    --nav-background-color:  #8ECAE6;
    --nav-link-color: #194358;
    --nav-hover-link-color:  #023047;
    --nav-hover-background-color:  #E46D20;
  }
  body {
    font-family: var(--paragraph-font);
    max-width: 960px;
      padding: 20px;
      
  }
  
    h1, h2, h3, h4, h5, h6 {
      font-family: var(--heading-font);
      color: var(--accent1-color);
    }

    header {
        padding: 20px;
        background-color:var(--accent2-color) ;

    }

    p {
        padding: 25px;

    }

    
    nav {
        background-color: var(--nav-background-color);
        font-size: 1.2rem;
        display: flex;
      }
    
      nav a {
        display: block;
        color: var(--nav-link-color);
        text-decoration: none;
        padding: 1rem;
      }
      nav a {
        display: block;
        color: var(--nav-link-color);
        text-decoration: none;
        padding: 1rem;
      }
      nav a {
        display: block;
        color: var(--nav-link-color);
        text-decoration: none;
        padding: 1rem;
      }
      nav a {
        display: block;
        color: var(--nav-link-color);
        text-decoration: none;
        padding: 1rem;
      }
            
    nav a:link, nav a:visited {
      color: var(--nav-link-color);
      text-decoration: none;
    }
    
    nav a:hover {
      color: var(--nav-hover-link-color);
      background-color: var(--nav-hover-background-color);
    }

    .hero {
        position: relative;
        
    }
  
    .hero img {
        display: block;
        width: 100%;
        height: auto;
        
      }
  
  
      .hero article img {
         width: 28%;
          float:right;
        
          
      }
  
       article{
         width: 90%;
          position: absolute;
          background: radial-gradient(#eee, #4567aa);
          top: 100px;
          left: 50px;
       }
  
       h1 {
        position: absolute;
        background: radial-gradient(#eee, #dd7c0d);
        top: 15px;
        left: 350px
       }
    
    .sociallinks {
        width: 300px;
        text-decoration: none;
    }
    .sociallinks img {
        display: flex;
        width: 100%;
        height: auto;
         text-decoration: none;
       
        }

   