@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kameron:wght@400..700&family=Orbitron:wght@400..900&display=');


  :root {
    --primary-color: #8ECAE6;
    --secondary-color: #194358;
    --accent1-color: #023047;
    --accent2-color: #E46D20;

    --heading-font: 'Bebas Neue',sans-serif;
    --paragraph-font: 'Kameron', serif;
    --color-callout-example-font:'Orbitron', sans-serif;

    --nav-background-color:  #8ECAE6;
    --nav-link-color: #194358;
    --nav-hover-link-color:  #023047;
    --nav-hover-background-color:  #E46D20;
  }
  body {
    font-family: var(--paragraph-font);
    max-width: 960px;
      padding: 20px;
      
  }
  
  header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 320px 10fr 10fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
    padding: 25px;
    background:radial-gradient(#194358,  #E46D20);
  }
  
  .logo img {
    margin: 0 0.25rem 0 1rem;
    width: 100px;
    height: auto;
  }
  
  
  
  nav {
    text-align: right;
  }
  
  .navigation {
    display: flex;
    list-style: none;
    padding-right: 30px;
    margin: 1px;

  }
  
  .navigation li {
    flex: 1 1 100%;
  }
  
  .navigation a {
    display: block;
    padding: 20px;
    text-decoration: none;
  }
  
  .navigation a:hover {
    font-weight: 400;
    text-decoration: none;
  }
     h2, h3, h4, h5, h6 {
      font-family: var(--heading-font);
      color: var(--accent1-color);
    }



    p {
        padding: 25px;

    }

    
    nav {
        background: radial-gradient(#eeeeee, #408aaf);
        font-size: 1.2rem;
        display: flex;
      }
    
   
            
    nav a:link, nav a:visited {
      color: var(--nav-link-color);
      text-decoration: none;
    }
    
    nav a:hover {
      color: var(--nav-hover-link-color);
      background: radial-gradient(#8ecae6,  #E46D20);
      border-width: 10px;
    border: dashed;
    padding: 10px;
      
    }

   

    .hero {
        position: relative;
        margin: 1rem auto;
        
    }
  
    .hero img {
        display: block;
        width: 100%;
        height: auto;
        
      }
  
  
      .hero article img {
         width: 28%;
          float:right;
        
        
          
      }
  
       article{
         width: 90%;
          position: absolute;
          background: radial-gradient(#8ecae6,  #E46D20);
          top: 100px;
          left: 50px;
       }
  
       h1 {
        position: absolute;
        background: radial-gradient(#8ecae6,  #E46D20);
        top: 15px;
        left: 350px;
        font-family: var(--heading-font);
        font-weight: 10;
        padding: 5px;
       }
      
       .history {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        grid-auto-rows: minmax(10x, auto);
        gap: 25px;
        background: radial-gradient( #02304783 ,  #023047);
        color:  #f1f0f0;
        margin: 1rem auto;
        padding-bottom: 25px;
        font-weight: 50px
        ;
      }

      .history h2 {
        grid-column: 2 / 3;
        grid-row: 1;
        text-align: center;
        color: #eeeeee;
        

      }

      .history p {
        grid-column: 1/3;
        grid-row: 2;
        width: 200px;
        padding-left: 40px;
      }

      .history img {

        grid-column: 2/3;
        grid-row: 2;
        width: 400px;
        padding-left: 60px;
        
      }
      
      .history p:nth-of-type(2) {
        grid-column: 3/3;
        grid-row: 2;
        width: 200px;
      }

      h3 {
        position: relative;
        text-align: center;
        right: 20px;
        font-size: x-large;
      }
   

.adventure{
  display: flex;
  
  gap: 5px;
}

.await {
  text-align: center;
}
      
 figure {
  border: thin #023047 solid;
display: flex;
flex-flow: column;
padding: 5;
width: 185px;
height: 200;
margin: auto;

}

figcaption {
  background-color: #023047;
  color: #e0ab88;
  font-family: var(--paragraph-font);
  padding: 3px;
  text-align: center;
}

  .end {
    background:radial-gradient(#194358,  #E46D20);
    gap: 25px;
    color: #eeeeee;
    text-align: center;
    
  }  

  .sociallinks {
    display: flex;
    float: right;
   
    position: relative;
    top: 12px;
    right: 100px;
  }

  .sociallinks img {
    width: 30px;
    padding: 5px;
  }
    





        
   