@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kameron:wght@400..700&family=Orbitron:wght@400..900&display=');


  :root {
    --primary-color: #8ECAE6;
    --secondary-color: #194358;
    --accent1-color: #023047;
    --accent2-color: #E46D20;

    --heading-font: 'Bebas Neue',sans-serif;
    --paragraph-font: 'Kameron', serif;
    --color-callout-example-font:'Orbitron', sans-serif;

    --nav-background-color:  #8ECAE6;
    --nav-link-color: #194358;
    --nav-hover-link-color:  #023047;
    --nav-hover-background-color:  #E46D20;
  }
  body {
    font-family: var(--paragraph-font);
    max-width: 960px;
      padding: 20px;
      
  }
  
  header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 320px 10fr 10fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
    padding: 25px;
    background:radial-gradient(#194358,  #E46D20);
  }
  
  .logo img {
    margin: 0 0.25rem 0 1rem;
    width: 100px;
    height: auto;
  }
  
  
  
  nav {
    text-align: right;
  }
  
  .navigation {
    display: flex;
    list-style: none;
    padding-right: 30px;
    margin: 1px;

  }
  
  .navigation li {
    flex: 1 1 100%;
  }
  
  .navigation a {
    display: block;
    padding: 20px;
    text-decoration: none;
  }
  
  .navigation a:hover {
    font-weight: 400;
    text-decoration: none;
  }
      h3, h5, h6 {
      font-family: var(--heading-font);
      color: var(--accent1-color);
    }

h2 {

  font-family: var(--heading-font);
  color:#000000 ;
}

    .hero p {
        padding: 25px;
        color: white;
    }

    
    nav {
        background: #194358;
        font-size: 1.2rem;
        display: flex;
        
        border: solid;
        border-color: white;
      }
    
   
            
    nav a:link, nav a:visited {
      color: white;
      text-decoration: none;
    }
    
    nav a:hover {
      color: var(--nav-hover-link-color);
      background: radial-gradient(#8ecae6,  #E46D20);
      border-width: 10px;
    border: dashed;
    padding: 10px;
      
    }

   

    .hero {
        position: relative;
        margin: 1rem auto;
        
    }
  
    .hero img {
        display: block;
        width: 100%;
        height: auto;
        
      }
  
  
      .hero article img {
         width: 28%;
          float:right;
        
        
          
      }
  
       article{
         width: 90%;
          position: absolute;
          background: radial-gradient(#194358,  #E46D20);
          top: 100px;
          left: 50px;
       }
  
       h1 {
        position: absolute;
        background: radial-gradient(#8ecae6,  #E46D20);
        top: 15px;
        left: 350px;
        font-family: var(--heading-font);
        font-weight: 10;
        padding: 5px;
       }
      

       .hero h1 {
        position: absolute;
        background: none;
        top: 30px;
        left: 350px;
        font-family: var(--heading-font);
        font-weight: 10;
        padding: 5px;
        color: white;
       }

       .history {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        
        gap: 25px;
        background: #194358;
        color:  #f1f0f0;
        margin: 1rem auto;
        padding-bottom: 25px;
    
      }

      .history h2 {
        grid-column: 2 / 3;
        grid-row: 1;
        text-align: center;
        color: #eeeeee;
        

      }

      .history p {
        grid-column: 1/3;
        grid-row: 2;
        width: 200px;
        padding-left: 40px;
      }

      .history img {

        grid-column: 2/3;
        grid-row: 2;
        width: 400px;
        padding-left: 60px;
        
      }
      
      .history p:nth-of-type(2) {
        grid-column: 3/3;
        grid-row: 2;
        width: 200px;
      }

      h3 {
        position: relative;
        text-align: center;
        right: 20px;
        font-size: x-large;
      }





/* contact and map */

.contact {
  text-align: center;
  

}

.contact h1 {
float: none;
width: 950px;
height: 10px;
top: 270px;
left: 28px;
color: #ffffff;
background: #102e3d;


}
.contact ul {
  list-style:none;
  max-width: 1000px;
  padding: 25px;
  background:radial-gradient(#194358,  #E46D20);

}

.contact li {
  display: inline-block;
  margin-right: 10px;
 background-color: #023047;
color: #eeeeee;
      border-width: 10px;
   
    padding: 10px;
      
}

.contact a {
  color: #eeeeee;
}


.map {
  float: right;
  position:relative;
  top: 100px;
}
/* form */

form {
  width: 370px;
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: grid;
  
}


fieldset {
  display: grid;
  grid-gap: .5rem;
  margin: 1rem;
  border: 30px solid rgba(0, 0, 0, 0.2);
  
 color: #f1860a;
 background-color:#091c3f;
  
}



legend {
  
  font-size: 1rem;
  padding: 1px;
  
  
}


label {
  text-align: right;
  padding-right: 5rem;
}

input, select, textarea {
  padding: 0.5rem;
  font-size: 1.5rem;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 875px;
  left: 200px;
  }


  button {
    margin: 1rem;
    background-color: #194358;
    color: #ffffff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
  }

  button:hover {
    background-color: aqua;
    color: #E46D20;
  }


/* form */
      


.adventure{
  display: flex;
  
  gap: 5px;
}

/* crew */
.await {
  text-align: center;
}


.meet {
  text-align: center;
}

.crew {
  display: flex;
  gap: 5px;
}




/* crew */

      
 figure {
  border: thin #023047 solid;
display: flex;
flex-flow: column;

width: 185px;
margin: auto;

}

figcaption {
  background-color: #023047;
  color: #ffffff;
  font-family: var(--paragraph-font);
  padding: 3px;
  text-align: center;
}

.end {
  background:#011538;
  gap: 25px;
  color: #eba079;
  text-align: center;
  padding: 8px;
  
}  

.sociallinks {
  display: flex;
  float: right;
 justify-content: right;
 
 
  
}

.wire-link a{
  color: white;
  text-decoration: none;
}

.wire-link a:visited{
  color: white;
  text-decoration: none;
}

  .sociallinks img {
    width: 30px;
    padding: 5px;
    
  }
  



/* trips start */

.book-trip p {
  text-align: center;
  font-family: var(--paragraph-font);
  position: relative;
  bottom: 100px;
}

/* trips end */

/* package start */

.package-options h2{
  text-align: center;
  font-size: 2rem;
  background:radial-gradient(#194358,  #E46D20);
  color: white;
}

.package-pics figure {
  display: grid;
  grid-template-columns: 300px 1fr;
  max-width: 600px;
  gap: 50px;
  
}

.package-pics img {
  width: 400px;
 
}

.package-pics figcaption {
  width: 500px;
}

.package-pics {
  position: relative;
  right: 325px;
 padding-bottom: 20px;
  
}



/* package end */


/* pricing table start */
table {
  border-collapse: collapse;
  border: 2px solid #023047;
  font-family: var(--paragraph-font);
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  
}

caption {
  caption-side: top;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background:radial-gradient(#194358,  #E46D20);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
  
  
}

tbody > tr:nth-of-type(even) {
  background-color: #023047;;
}
tbody > tr:nth-of-type(odd) {
  background-color: #ac5c27;
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}



/* table end */

/* fun pics */
.fun-time{
  position: relative;
  width: 517px;
  bottom: 100px;
  right: 50px;
  display: flex;
  width: 517px;
  
}

.fun-time img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.fun-time figure {
  width: 295px; /* adjust to container size as needed */
  height: 295px;
}

.fun-time article {
  background:radial-gradient( #E46D20,  #194358);
}
/* pics end */

.spread caption {
  color: #091c3f;
  font-family: var(--heading-font);
  font-size: 40px;
}
        
/* booking form */
.booking-form form{
  position: relative;
  bottom: 240px;
  left: 480px;
  

}

.book-contact{
 position: relative;
  background: radial-gradient(#194358,  #E46D20);
  color: white;
  width: 900px;
  bottom: 100px;
  padding-left: 50px;
  padding-bottom:  22px;
  
}

.book-contact img {
  float: right;
}

.book-contact p {

  font-family: var(--paragraph-font);
  font-size: 20px;

}

.book-trip {
  font-family: var(--paragraph-font);
  font-size: 25px;
}


/* -------HOME----------- */

/* head */

.home-head{
  position: relative;
}

.home-head img{
  max-width: 100%;
}

.home-head h1 {

  color: #ffffff;
  font-size: 50px;
  left: 320px;
  background: #08141a8f;
}

/* form */

.home-head form {
position: absolute;
top: 100px;
right: 50px;
}
.home-logo{
  position: absolute;
  bottom: 30px;
  left: 70px; 
}

.newsbox {
  position: relative;
  bottom: 890px;
  right: 100px;
}

/* intro */

.intro article{
max-width: 100%;
position: relative;
text-align:center;
top: 1px;
padding: 10px;
color: white


;
}



/* grid */

.home-grid {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 

  max-width: 600px; 
  width: 100%;
}

.top-image {
  grid-column: 1 / 3; 
  height: auto;
  object-fit: cover;
  border-radius: 8px; 
}


.bottom-image:nth-of-type(1) {
  grid-column: 2; 
  grid-row: 2;
}

.bottom-image:nth-of-type(2) {
  grid-column: 3; 
  grid-row: 2;
  
}

.bottom-image p {
  background:#011538;
  color: white;
 padding-left: 18px;
  font-family: var(--paragraph-font);
}

.image-grid p{
  float: right;
  position: absolute;
}

.home-trip {
  position: relative;
  
  font-family: var(--heading-font);
  font-size: larger;
  }

.gif {
float: left;
  bottom: 410px;
left: 700px;
  position: relative;
}

.end2 p{
  text-align: left;
}