@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Yatra+One&display=swap');

/* font-family: 'Yatra One'; */
/* font-family: 'Inconsolata'; */




      
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  
  font-size: 1.2em;
  color: #eceaea;
  background: #020202;
}

header{
    font-family: 'Yatra One';
    font-size: .5em;
    
    margin: 0 auto;
    width: 650px;
   
    
}

h1 {
    color: rgb(255, 255, 255);
    gap: 10px;
    text-align: center;
    margin: 1rem;
    font-size: 1.5rem;
    
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ab6ad1;
    border-radius: 0.5rem;
    background-color: rgba(178, 40, 233, 0.699);
    display: grid;
    

}

Example
fieldset {
  display: grid;
  grid-gap: .5rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

legend {
    color: aqua;
    font-size: rem;
    padding: 1px;
    
    
    
    
}

label, input, button, textarea, select {
    font-family: 'Inconsolata';
}




p{
    font-family: 'Yatra One';
    text-align: center;

}

label {
    text-align: right;
    padding-right: 5rem;
}


input, select, textarea {
  padding: 0.5rem;
  font-size: 1.5rem;
}

input[type="checkbox"] {
width: 22px;
height: 22px;
vertical-align: bottom;
}


button {
  margin: 1rem;
  background-color: rgb(3, 3, 3);
  color: #f1edf3;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}

button:hover {
  background-color: aqua;
}


footer {
  margin: 1rem auto 0;
  width: 650px;
  text-align: center;
  font-size: 0.8em;
  color: #777;
  border-top: 1px solid #ccc;

}

.form-item{

    display: grid;
    align-items: right;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    
}


.column2 {

    grid-template-columns: 1fr 2fr;

}














