     * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


nav {
    background-color: rgb(81, 3, 83);
    padding: 10px;
}

nav a {
    color: rgb(255, 255, 255);
    display: block;
    padding:20px;
    
}
h1 {
    color: rgb(103, 13, 131)
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(117, 10, 131);
    padding: 1px;
    box-shadow: 0 0 03px rgb(7, 6, 6);
    float: right;
}

p {
    padding: 10px;
}

main {
    max-width: 840px;
}
aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;

}



p { padding: 0; }

footer {
    margin-top: 15px;
    border-top: 1px solid#000;
    text-align: center;
    
}

/* Class Selectors */

.box {
  margin: 1rem;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
  background-color: rgb(81, 3, 83);
  color: rgb(255, 255, 255);
}

aside h2 { 
    position: absolute;
    top: 30px ;
    right: 125px
}

aside h2 {

    color: black;
}

